joshgrantdatafactory/PartialArmTemplates/ArmTemplate_9_21_2018_13_26_31.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "joshgrantdatafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_SQL_LOAD_Untappd')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "COPY_UntappdHistory",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "AzureDataLakeStoreSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE Stage_Untappd"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"beer_name": "beer_name",
									"brewery_name": "brewery_name",
									"beer_type": "beer_type",
									"beer_abv": "beer_abv",
									"beer_ibu": "beer_ibu",
									"comment": "comment",
									"venue_name": "venue_name",
									"venue_city": "venue_city",
									"venue_state": "venue_state",
									"venue_country": "venue_country",
									"venue_lat": "venue_lat",
									"venue_lng": "venue_lng",
									"rating_score": "rating_score",
									"created_at": "created_at",
									"checkin_url": "checkin_url",
									"beer_url": "beer_url",
									"brewery_url": "brewery_url",
									"brewery_country": "brewery_country",
									"brewery_city": "brewery_city",
									"brewery_state": "brewery_state",
									"flavor_profiles": "flavor_profiles",
									"purchase_venue": "purchase_venue",
									"serving_type": "serving_type",
									"checkin_id": "checkin_id",
									"bid": "bid",
									"brewery_id": "brewery_id"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADL_UntappdHistory",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Sandbox_Stage_Untappd",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LOAD_D_Beer",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "COPY_UntappdHistory",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE D_Beer"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"bid": "BeerID",
									"beer_name": "BeerName",
									"beer_type": "BeerType",
									"beer_abv": "BeerABV",
									"beer_ibu": "BeerIBU",
									"beer_url": "BeerURL"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQL_Sandbox_STG_D_Beer",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Sandbox_D_Beer",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LOAD_D_Venue",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "COPY_UntappdHistory",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE D_Venue"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"VenueName": "VenueName",
									"VenueCity": "VenueCity",
									"VenueState": "VenueState",
									"VenueCountry": "VenueCountry",
									"VenueLat": "VenueLat",
									"VenueLong": "VenueLong"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQL_Sandbox_D_Venue",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Sandbox_D_Venue",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LOAD_D_Brewery",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "COPY_UntappdHistory",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE D_Brewery"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"brewery_id": "BreweryID",
									"brewery_name": "BreweryName",
									"brewery_url": "BreweryURL",
									"brewery_country": "BreweryCountry",
									"brewery_city": "BreweryCity",
									"brewery_state": "BreweryState"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQL_Sandbox_STG_D_Brewery",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Sandbox_D_Brewery",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LOAD_F_Checkin",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LOAD_D_Venue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE F_Checkin"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"CheckinID": "CheckinID",
									"CheckinDateTime": "CheckinDateTime",
									"CheckinURL": "CheckinURL",
									"Comment": "Comment",
									"RatingScore": "RatingScore",
									"BeerID": "BeerID",
									"BreweryID": "BreweryID",
									"VenueID": "VenueID",
									"FlavorProfiles": "FlavorProfiles",
									"ServingType": "ServingType"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQL_Sandbox_STG_F_Checkin",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Sandbox_F_Checkin",
								"type": "DatasetReference"
							}
						]
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADL_UntappdHistory')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Sandbox_Stage_Untappd')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Sandbox_STG_D_Beer')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Sandbox_D_Beer')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Sandbox_D_Venue')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Sandbox_STG_D_Brewery')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Sandbox_D_Brewery')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Sandbox_STG_F_Checkin')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Sandbox_F_Checkin')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADL_UntappdHistory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source"
				},
				"type": "AzureDataLakeStoreFile",
				"structure": [
					{
						"name": "beer_name",
						"type": "String"
					},
					{
						"name": "brewery_name",
						"type": "String"
					},
					{
						"name": "beer_type",
						"type": "String"
					},
					{
						"name": "beer_abv",
						"type": "String"
					},
					{
						"name": "beer_ibu",
						"type": "String"
					},
					{
						"name": "comment",
						"type": "String"
					},
					{
						"name": "venue_name",
						"type": "String"
					},
					{
						"name": "venue_city",
						"type": "String"
					},
					{
						"name": "venue_state",
						"type": "String"
					},
					{
						"name": "venue_country",
						"type": "String"
					},
					{
						"name": "venue_lat",
						"type": "String"
					},
					{
						"name": "venue_lng",
						"type": "String"
					},
					{
						"name": "rating_score",
						"type": "String"
					},
					{
						"name": "created_at",
						"type": "String"
					},
					{
						"name": "checkin_url",
						"type": "String"
					},
					{
						"name": "beer_url",
						"type": "String"
					},
					{
						"name": "brewery_url",
						"type": "String"
					},
					{
						"name": "brewery_country",
						"type": "String"
					},
					{
						"name": "brewery_city",
						"type": "String"
					},
					{
						"name": "brewery_state",
						"type": "String"
					},
					{
						"name": "flavor_profiles",
						"type": "String"
					},
					{
						"name": "purchase_venue",
						"type": "String"
					},
					{
						"name": "serving_type",
						"type": "String"
					},
					{
						"name": "checkin_id",
						"type": "Int32"
					},
					{
						"name": "bid",
						"type": "Int32"
					},
					{
						"name": "brewery_id",
						"type": "Int32"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "arrayOfObjects",
						"jsonPathDefinition": {
							"beer_name": "$.['beer_name']",
							"brewery_name": "$.['brewery_name']",
							"beer_type": "$.['beer_type']",
							"beer_abv": "$.['beer_abv']",
							"beer_ibu": "$.['beer_ibu']",
							"comment": "$.['comment']",
							"venue_name": "$.['venue_name']",
							"venue_city": "$.['venue_city']",
							"venue_state": "$.['venue_state']",
							"venue_country": "$.['venue_country']",
							"venue_lat": "$.['venue_lat']",
							"venue_lng": "$.['venue_lng']",
							"rating_score": "$.['rating_score']",
							"created_at": "$.['created_at']",
							"checkin_url": "$.['checkin_url']",
							"beer_url": "$.['beer_url']",
							"brewery_url": "$.['brewery_url']",
							"brewery_country": "$.['brewery_country']",
							"brewery_city": "$.['brewery_city']",
							"brewery_state": "$.['brewery_state']",
							"flavor_profiles": "$.['flavor_profiles']",
							"purchase_venue": "$.['purchase_venue']",
							"serving_type": "$.['serving_type']",
							"checkin_id": "$.['checkin_id']",
							"bid": "$.['bid']",
							"brewery_id": "$.['brewery_id']"
						}
					},
					"fileName": "*Export.json",
					"folderPath": ""
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Sandbox_D_Beer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Target"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "BeerID",
						"type": "Int64"
					},
					{
						"name": "BeerName",
						"type": "String"
					},
					{
						"name": "BeerType",
						"type": "String"
					},
					{
						"name": "BeerABV",
						"type": "Decimal"
					},
					{
						"name": "BeerIBU",
						"type": "Int16"
					},
					{
						"name": "BeerURL",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[D_Beer]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Sandbox_D_Brewery')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Target"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "BreweryID",
						"type": "Int64"
					},
					{
						"name": "BreweryName",
						"type": "String"
					},
					{
						"name": "BreweryURL",
						"type": "String"
					},
					{
						"name": "BreweryCountry",
						"type": "String"
					},
					{
						"name": "BreweryCity",
						"type": "String"
					},
					{
						"name": "BreweryState",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[D_Brewery]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Sandbox_D_Venue')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Target"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "VenueName",
						"type": "String"
					},
					{
						"name": "VenueCity",
						"type": "String"
					},
					{
						"name": "VenueState",
						"type": "String"
					},
					{
						"name": "VenueCountry",
						"type": "String"
					},
					{
						"name": "VenueLat",
						"type": "Decimal"
					},
					{
						"name": "VenueLong",
						"type": "Decimal"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[D_Venue]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Sandbox_F_Checkin')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Target"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "CheckinID",
						"type": "Int64"
					},
					{
						"name": "CheckinDateTime",
						"type": "DateTime"
					},
					{
						"name": "CheckinURL",
						"type": "String"
					},
					{
						"name": "Comment",
						"type": "String"
					},
					{
						"name": "RatingScore",
						"type": "Decimal"
					},
					{
						"name": "BeerID",
						"type": "Int64"
					},
					{
						"name": "BreweryID",
						"type": "Int64"
					},
					{
						"name": "VenueID",
						"type": "Int64"
					},
					{
						"name": "FlavorProfiles",
						"type": "String"
					},
					{
						"name": "ServingType",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[F_Checkin]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Sandbox_STG_D_Beer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Stage Views"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "bid",
						"type": "Int64"
					},
					{
						"name": "beer_name",
						"type": "String"
					},
					{
						"name": "beer_type",
						"type": "String"
					},
					{
						"name": "beer_abv",
						"type": "Decimal"
					},
					{
						"name": "beer_ibu",
						"type": "Int16"
					},
					{
						"name": "beer_url",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[STG_D_Beer]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Sandbox_STG_D_Brewery')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Stage Views"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "brewery_id",
						"type": "Int64"
					},
					{
						"name": "brewery_name",
						"type": "String"
					},
					{
						"name": "brewery_url",
						"type": "String"
					},
					{
						"name": "brewery_country",
						"type": "String"
					},
					{
						"name": "brewery_city",
						"type": "String"
					},
					{
						"name": "brewery_state",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[STG_D_Brewery]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Sandbox_STG_D_Venue')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Stage Views"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "venue_name",
						"type": "String"
					},
					{
						"name": "venue_city",
						"type": "String"
					},
					{
						"name": "venue_state",
						"type": "String"
					},
					{
						"name": "venue_country",
						"type": "String"
					},
					{
						"name": "venue_lat",
						"type": "Decimal"
					},
					{
						"name": "venue_lng",
						"type": "Decimal"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[STG_D_Venue]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Sandbox_STG_F_Checkin')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Stage Views"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "CheckinID",
						"type": "Int64"
					},
					{
						"name": "CheckinDateTime",
						"type": "DateTime"
					},
					{
						"name": "CheckinURL",
						"type": "String"
					},
					{
						"name": "Comment",
						"type": "String"
					},
					{
						"name": "RatingScore",
						"type": "Decimal"
					},
					{
						"name": "BeerID",
						"type": "Int64"
					},
					{
						"name": "BreweryID",
						"type": "Int64"
					},
					{
						"name": "VenueID",
						"type": "Int64"
					},
					{
						"name": "FlavorProfiles",
						"type": "String"
					},
					{
						"name": "ServingType",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[F_Checkin]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Sandbox_Stage_Untappd')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Stage Tables"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "beer_name",
						"type": "String"
					},
					{
						"name": "brewery_name",
						"type": "String"
					},
					{
						"name": "beer_type",
						"type": "String"
					},
					{
						"name": "beer_abv",
						"type": "Decimal"
					},
					{
						"name": "beer_ibu",
						"type": "Int16"
					},
					{
						"name": "comment",
						"type": "String"
					},
					{
						"name": "venue_name",
						"type": "String"
					},
					{
						"name": "venue_city",
						"type": "String"
					},
					{
						"name": "venue_state",
						"type": "String"
					},
					{
						"name": "venue_country",
						"type": "String"
					},
					{
						"name": "venue_lat",
						"type": "Decimal"
					},
					{
						"name": "venue_lng",
						"type": "Decimal"
					},
					{
						"name": "rating_score",
						"type": "String"
					},
					{
						"name": "created_at",
						"type": "String"
					},
					{
						"name": "checkin_url",
						"type": "String"
					},
					{
						"name": "beer_url",
						"type": "String"
					},
					{
						"name": "brewery_url",
						"type": "String"
					},
					{
						"name": "brewery_country",
						"type": "String"
					},
					{
						"name": "brewery_city",
						"type": "String"
					},
					{
						"name": "brewery_state",
						"type": "String"
					},
					{
						"name": "flavor_profiles",
						"type": "String"
					},
					{
						"name": "purchase_venue",
						"type": "String"
					},
					{
						"name": "serving_type",
						"type": "String"
					},
					{
						"name": "checkin_id",
						"type": "Int64"
					},
					{
						"name": "bid",
						"type": "Int64"
					},
					{
						"name": "brewery_id",
						"type": "Int64"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[Stage_Untappd]')]"
				}
			}
		}
	]
}